[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django-optimizer = "*"
graphene-django = "*"
django-filter = "*"
django-cron = "*"
django-celery-beat = "*"
gql = "*"
requests = "*"
django-crontab = "*"

[dev-packages]

[requires]
python_version = "3.13"
